@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EVENTS UNLIMITED</h1>
    <p>Find events near you and never again miss out on the fun!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Event finder here</h2>
    </div>
    <div class="col-md-6">
        <div class=""button">@Html.ActionLink("Click here to see last minute deals", "FindEvent", "Home")</div>
    </div>
</div>