@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EVENTS UNLIMITED</h1>
    <p>Find events near you and never again miss out on the fun!</p>
</div>

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Search", "Index", "Events")
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Click here to see last minute deals", "Index", "Events")
    </div>
</div>